<a href="https://colab.research.google.com/github/chierighini/notes/blob/main/python_notes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Introduction

This notebook is just a cheatsheat for topics I found myself either lacking or not fully knowing about Python.

Keep in mind that the topics presented here are not in any particular order and do not follow any logic sequence whatsoever, they are just topics I believe are necessary to complement my knowledge in python and that at the time I did not believe I understood fully.

That said, the purpose of this is to be used as a cheatsheat with a compilation of examples and use cases for each of the listed topics, and hopefully will be mostly forgotten and unused as I progress further as a developer.

#Anonymous Functions
Anonymous functions, or lambda expressions are one line functions that have no name and are declared with the ```lambda``` operator to create a one time use function for that specific case to eliminate the need of declaring and using another function.

The following are simplistic use case examples:

In [ ]:
f= lambda x: x**2
f(5)

25

In [ ]:
f(2)

4

Lambda functions are structured like this:
```
lambda params: expression
```
For any given number of parameters and any one line expression

In [ ]:
def quad_func(a,b,c):
  #returns the quadratic function
  return lambda x: a*x**2 + b*x + c

f = quad_func(2,5,7)
f(3)

40

#List Comprehension
A tool to simplify the process of creating and filling lists.

The most basic form of list comprehension is the following:
```
list = [expr for val in collection]
#or
list = [expr for val in collection if test]

#and it can be used with more than one collection and more than one if statement
list = [expr for val in collection for val2 in collection2]
list = [expr for val in collection if test if test2]
```

A quick note to anyone reading is that I tried to use list comprehensions as much as possible as a form of training during the writing of this notebook, I do not know if that is a good programming practice or even if it should be followed, for that matter, but I figured I know enough about for loops and should spend my energy thinking on comprehensions for the sake of learning.

In [ ]:
squares = [i**2 for i in range(100)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [ ]:
vector = [2,3,4,5,6,7,8]
#perform scalar multipication on even numbers by four
list = [i*4 for i in vector if not i%2]
print(list)

[8, 16, 24, 32]

In [ ]:
A = [1,6,2,9]
B = [8,9,0,1]
#perform the cartesian product of the two sets
product = [(a,b) for a in A for b in B]
print(product)

[(1, 8), (1, 9), (1, 0), (1, 1), (6, 8), (6, 9), (6, 0), (6, 1), (2, 8), (2, 9), (2, 0), (2, 1), (9, 8), (9, 9), (9, 0), (9, 1)]

#Dictionaries
Dictionaries are data structures that behave a lot like JSONs and are composed by key-value pairs which can be accessed and used in various ways.
```
#an example of a dictionary would be
exmpl_dict = {
  "name": "John Doe"
  "age": 20
}
```
The values inside can be acessed and changed by the use of keys, as well as looped through by them, or even by their values.

In [ ]:
exmpl_dict={"name":"John Doe","age":20}
print(exmpl_dict["name"])

John Doe

In [ ]:
#looping through the dictionary keys
for key in exmpl_dict:
  print(key)

  '''
  to loop trhough the values one would need to use exmpl_dict.values() in the for 
  loop, or use the "key" value inside brackets: exmpl_dict[key]
  '''

name
age

In [ ]:
exmpl_dict["name"]="Jane Doe"
print(exmpl_dict["name"])

Jane Doe

To add values from a dictionary it is possible to just "change" them like they were alredy there.

In [ ]:
exmpl_dict["birth"]=2000
print(exmpl_dict)

#and that concludes my research on why python is beautiful /s

{'name': 'Jane Doe', 'age': 20, 'birth': 2000}

To remove values we use the ```pop()``` function, with the desired key to be removed, as a paramater, or we can use ```popitem()``` to remove the last inserted item. Before python 3.7, ```popitem()```would remove a random item for some reason.

In [ ]:
exmpl_dict.popitem()
#alternatively pop("birth") could be used to the same effect

print(exmpl_dict)

{'name': 'Jane Doe', 'age': 20}

To copy the contents of a dictionary one can't simply make ```dict1 = dict2``` since that would only copy its reference, and any operations made on either dictionaries would affect both of them. Because of this the ```copy()``` method must be used in order to truly copy the contents of a dictionary.

In [ ]:
copied_dict = exmpl_dict.copy()

copied_dict.pop("age")

print(exmpl_dict)
print(copied_dict)

{'name': 'Jane Doe', 'age': 20}
{'name': 'Jane Doe'}

Dictionaries can also be nested within each other:

In [ ]:
nested_dict = {
    "name":"Azatoth",
    "children": {
        "child1": {
            "name":"Cthulhu",
            "location": "earth"
        },
        "child2": {
            "name":"Hastur",
            "location":"unknown"
        }
    }
}
print(nested_dict)

{'name': 'Azatoth', 'children': {'child1': {'name': 'Cthulhu', 'location': 'earth'}, 'child2': {'name': 'Hastur', 'location': 'unknown'}}}

Dictionaries can also be made by using the ```dict()``` constructor:

In [ ]:
const_dict = dict(name="The Allfather",age="yes",a_random_number=4)
print(const_dict)

{'name': 'The Allfather', 'age': 'yes', 'a_random_number': 4}

Note that when using the constructor the keys are not strings and the ```:```is replaced by ```=```

#Argument Parsing
Usage for ```*args and **kwargs.```

```*args``` is a list of non-keyworded arguments, while ```**kwargs``` is a list of key-worded arguments.

##```*args```
The ```*args``` parameter is used whenever you want to be able to pass as many non-keyworded arguments as desired to a function without having to worry about constraints.
```
#as neat and clean as this type of function can be for making a sum, it is limited to the amount of arguments one declares together with the function

def my_func(a,b,c):
  return a+b+c

#utilizing *args it is possible to pass as many as you would want without the interpreter complaining about too many of them

def my_other_func(*args):
  sum=0
  for arg in args:
    sum+=arg
  return sum
```

In [ ]:
#here you can see the implemented version of the code mentioned above
def arg_function(*args):
  sum=0
  for arg in args:
    sum+=arg
  return sum

In [ ]:
print(arg_function(3,3,3,3,3))
print(arg_function(5,4,6,5,9))

15
29

In [ ]:
#an exemple that also uses list comprehension as a bonus
def arg_function1(*args):
  return [i*2 for i in args]

In [ ]:
#comma separated arguments seem to work in this format
print(arg_function1(1,2,3,4))

#if lists are passed as args python will interpret as a single argument
print(arg_function1([1,2],[4,6]))

#the * operator can be used to unpack the arguments from the list
list_args = [1,2,3,4,5]
print(arg_function1(*list_args))

#as can be seen in this example as well
print(arg_function1(*[1,2],[4,6]))
print(arg_function1(*[1,2],*[4,6]))

[2, 4, 6, 8]
[[1, 2, 1, 2], [4, 6, 4, 6]]
[2, 4, 6, 8, 10]
[2, 4, [4, 6, 4, 6]]
[2, 4, 8, 12]

In [ ]:
def arg_function2(number,*args):
  return [number*i for i in args]

#the arguments apparently follow the same order they were declared in
print(arg_function2(3,1,2,3))

[3, 6, 9]

##```**kwargs```
The ```**kwargs``` parameter is used for keyworded arguments that you might want to pass to your function

In [ ]:
#kwargs refers to keyworded lists
def kwarg_function(**kwargs):
  
  #items refer to both keys and values in kwargs
  print(kwargs.items())

  #it is possible to use the values by their keys
  print(kwargs["number"])
  return [key for key in kwargs]

print(kwarg_function(number=2,letter='a'))

dict_items([('number', 2), ('letter', 'a')])
2
['number', 'letter']

In [ ]:
#an example of the values and keys being used in a string format
def kwarg_function1(**kwargs):
  return ["The capital of {} is {}".format(key,value) for key,value in kwargs.items()]

print(kwarg_function1(Brazil="Sao Paulo",Germany="Berlin"))

#it can also be used with dictionaries as long as they are "unwraped" by the double asterisc (**).

my_dict = {"France":"Paris", "Norway":"Oslo", "Sweden":"Stockholm"}

print(kwarg_function1(**my_dict))

['The capital of Brazil is Sao Paulo', 'The capital of Germany is Berlin']
['The capital of France is Paris', 'The capital of Norway is Oslo', 'The capital of Sweden is Stockholm']

#Dunder Methods
"Dunder" stands for double underscore, and is used to refer to methods that have, as the name states, two underscores before and after their name, such as:```__init__()```.

Dunder methods are used to "map" the synthax on a higher level from a lower one.

In This example, the ```__init__(self,value)``` is a dunder method which is a constructor for the class. If we create an instance of the class and print it, we get some not so useful information regarding the class.

In [1]:
class c0:
  def __init__(self,value):
    self.x = value

c = c0(5)

In [2]:
print(c)

<__main__.c0 object at 0x7fa1e1442550>

However, if we use the dunder method ```__repr__()``` we can make a representation of the class when printed out:

In [10]:
class c1:
  def __init__(self,value):
    self.x = value
  
  def __repr__(self):
    return f"the x is {self.x}" #f stands for formatted, so we can include values inside

c = c1(5)

In [9]:
print(c)

the x is 5

This extends to a lot more than just printing a name, it is possible to define what an operation will do when used in conjuction with your object.

In [11]:
class c2:
  def __init__(self,value):
    self.x = value
  def __repr__(self):
    return f"the x is {self.x}" #f stands for formatted, so we can include values inside
  def __add__(self,item):
    if type(self.x) is int:
      self.x = [self.x]
    self.x.append(item)

c = c2(5)

In [13]:
c+6
print(c)

the x is [5, 6]

The full list of dunder methods can be found in the python documentation, since it is impossible to make examples for all of them.

https://docs.python.org/3/reference/datamodel.html#special-method-names